body {
  font-weight: lighter;
  font-family: helvetica;
}

li {
    display: block;
    color: white;
    margin-top: 2px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

ul {
    background-color: #6E92A1;
    font-size: 15px;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
  background-image: url("../../images/park.jpg");
  background-size: cover;
  height: 500px;
  margin: 10px;
  width:100%;
  background-position:center;
  background-repeat:no-repeat;
}

li.left {
  float: left
}

li.right {
    float: right;
}

li.right-last {
    float: right;
    margin-right: 15px;
}
