body {
  font-weight: lighter;
  font-family: helvetica;
}

li {
    display: block;
    color: white;
    margin-top: 2px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

ul {
    background-color: #6E92A1;
    font-size: 15px;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
  background-image: url("../../images/park.jpg");
  background-size: cover;
  height: 500px;
  margin: 10px;
  width:100%;
  background-position:center;
  background-repeat:no-repeat;
}

div.header-box-container {
  text-align: center;
}

h1.main-title {
  font-size: 23px;
  font-style: normal;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

li.left {
  float: left
}

li.right {
    float: right;
}

li.right-last {
    float: right;
    margin-right: 15px;
}

p.header-box {
  background-color: white;
  border: 3px solid #37829D;
  color: #37829D;
  display: inline-block;
  margin-top: 20px;
  padding: 2px;
  text-align: center;
}

#main-dog {
  border-radius: 200px;
  border: 3px solid #37829D;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
